.app {
    background-color: purple;
}
.spacing {
    margin-top: 50px;
    border-color: rgb(178, 233, 26);
    border-width: thin;
    border-style: solid;
    border-radius: 5px;
}

.info{
    padding: 10px
}

.box {
    width: '100%';
    height: '100%';
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.box2 {
    width: '100%';
    height: '100%';
    display: flex;
    flex-direction: row;
}

.square {
    width: 10%;
    height: 100px;
    background-color: rgb(33, 204, 147);
}



.redSquare1 {
    width: 15%;
    height: 100px;
    background-color: red;
    border-width: 1px;
    border-color: blue;
    border-style: solid;
}

.redSquare2 {
    width: 40%;
    height: 100px;
    background-color: red;
}


.item-a {
    grid-area: header;
    width: 100%;
    background-color: red;
    height: 100%;
    border-width: 1px;
    border-color: blue;
    border-style: solid;
    flex-direction: row;
    display: flex;

  }
  .item-b {
    grid-area: main;
    background-color: green;
    border-width: 2px;
    border-color: blue;
    border-style: solid;
  }
  .item-c {
    grid-area: sidebarA;
    background-color: green;
    display: flex;
    flex-direction: row;
  }

  .item-d {
    grid-area: sidebarB;
    background-color: green;
    display: flex;
    flex-direction: row;
  }
 

  .squareItem-A {
    flex-grow: 1;
    flex-basis: 0;
    border-width: 1px;
    border-color: paleturquoise;
    border-style: solid;
    
  }

  .squareItem-C {
    flex-grow: 1;
    flex-basis: 0;
    height: 20%;
    border-width: 1px;
    border-color: paleturquoise;
    border-style: solid;
    
  }

  .squareItem-CTwo {
    flex-grow: 1;
    flex-basis: 0;
    border-width: 1px;
    border-color: paleturquoise;
    border-style: solid;
    
  }

  .container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 40% 10% 50%;
    grid-template-columns: 70% 10% 10% 10%;
    grid-template-areas: 
      "header header header header"
      "main main main main"
      "sidebarA sidebarB sidebarB sidebarB";
  }
  